.padding {
    padding: 0 48px 0 48px;
}

@media all and (max-width: 1023px) {
    .padding {
        padding: 0 24px 0 24px;
    }
}

@media all and (max-width: 424px) {
    .padding {
        padding: 0 16px 0 16px;
    }
}