.page {
    font-family: 'Inter';
    background: #2A2C2F;
    color: #FFFFFF;
    max-width:1280px;
  /*  margin: 0 auto;*/
  /* padding: 0 48px 0 48px;*/
    text-rendering: optimizeLegibility;
    overflow: hidden;
    width: 100%;
    
   /* -webkit-font-smoothing: antialised*/

}