.header {
    max-width: 1184px;
    width: calc(100% - 96px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 28px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
   @media screen and (max-width: 1023px) {
    .header {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .header {
      width: calc(100% - 48px);
    }
  }
  
  
  @media screen and (max-width: 479px) {
    .header {
      width: calc(100% - 32px);
    }
  }