.lead__image{
    display: flex;
    padding-bottom: 8px;
    width: calc(100% - 100px*2);   
    box-sizing: border-box;
    padding-left: 48px;
    padding-right: 48px;

}
@media all and (max-width: 1279px) {
    .lead__image{ 
        width: 100%;
    }
}

@media all and (max-width: 1023px) {
    .lead__image{ 
        padding-left: 0;
        padding-right: 0;
    }
}
@media all and (max-width: 800px) {
    .lead__image{ 
        overflow: hidden;
    }
}