.intro__text{
    padding: 40px 0 33px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

@media all and (max-width: 424px) {
    .intro__text{
       padding-bottom: 34px;
    } 
}