.cover__overlay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        max-width: 1184px;
        width: 100%;
        min-height: 740px;
        height: 100%;
        position: relative;
        z-index: 0;
        text-decoration: none;
        padding: auto;
        background-color: #2A2C2F;
       
}

.cover__overlay::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}
.cover__overlay:hover::before{
    opacity: 0.8;
}
/*
@media all and (max-width: 1279px) {
    .cover__overlay{
       padding: 195px 232px;
    }
}
@media all and (max-width: 1023px) {
    .cover__overlay{
       padding: 155px 168px;
    }
}
@media all and (max-width: 899px) {
    .cover__overlay{
       padding: 115px 104px;
    }
}
@media all and (max-width: 767px) {
    .cover__overlay{
      padding: 95px 84px;
 }
}
@media all and (max-width: 635px) {
    .cover__overlay{
      padding: 75px 64px;
 }
}
@media all and (max-width: 424px) {
    .cover__overlay{
       padding: 33px 16px;
    }
}*/