.place {
    display: grid;
  /*  grid-template-columns:repeat(2, minmax(min-content max-content));*/
   /* grid-template-columns:  1fr minmax(min-content, max-content);*/
    grid-template-columns: 460px 1fr;
    grid-gap: 48px 40px;
    margin-bottom: 80px;
    grid-template-areas: 
    "title website"
    "image text";  
    padding: 0 48px;
 }

 .place:last-child{
    margin-bottom: 0;
}

@media all and (max-width: 1279px) {
    .place{
         grid-template-columns: 440px 1fr;
         gap: 48px 32px;
    }
}

@media all and (max-width: 1023px) {
    .place{
        column-gap: 28px;
        grid-template-columns: 340px 1fr;
        padding: 0 24px;
    }
}

@media all and (max-width: 767px) {
    .place{
        column-gap: 28px;
        grid-template-columns: 40% 1fr;
        margin-bottom: 73px;
        padding: 0 16px;
    }
}
@media all and (max-width: 499px) {
    .place{
        gap: 32px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title" 
        "website"
        "image" 
        "text";
        margin-bottom: 50px;
        padding: 0;
    }
    
}