.place__website{
   grid-area: website;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
@media all and (max-width: 499px) {
   .place__website{
       padding-left: 16px;
   }    
}